:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(183, 225, 244);
    /* AliceBlue */
    --entry: rgb(183, 225, 244);
    --primary: rgb(0, 32, 63);
    /* Deep Navy */
    --secondary: rgb(86, 101, 115);
    --tertiary: rgb(173, 182, 195);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(227, 237, 243);
    --code-bg: rgb(183, 225, 244);
    --border: rgb(211, 226, 238);
    color-scheme: light;
}

:root[data-theme="dark"] {
    --theme: rgb(16, 28, 57);
    /* Dark Navy */
    --entry: rgb(28, 45, 80);
    --primary: rgb(240, 248, 255);
    /* AliceBlue */
    --secondary: rgb(173, 185, 202);
    --tertiary: rgb(100, 116, 139);
    --content: rgb(224, 231, 255);
    --code-block-bg: rgb(28, 45, 80);
    --code-bg: rgb(33, 50, 89);
    --border: rgb(60, 80, 115);
    color-scheme: dark;
}

.list {
    background: var(--code-bg);
}

[data-theme="dark"] .list {
    background: var(--theme);
}