<!DOCTYPE html>
<title>{{ .Title }} - Ritu's Space</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body { max-width: 500px; margin: 15vh auto; padding: 20px; font-family: sans-serif; }
  .back { text-decoration: none; color: #ccc; font-size: 13px; display: block; margin-bottom: 40px; }
  h1 { font-weight: 400; letter-spacing: 2px; font-size: 18px; text-transform: uppercase; margin-bottom: 40px; color: gray; }
  .item { display: block; text-decoration: none; color: #444; font-size: 15px; margin-bottom: 15px; }
  .post-date { color: #eee; font-size: 12px; margin-left: 10px; }
</style>

<a href="/" class="back">← BACK</a>
<h1>Category: {{ .Title }}</h1>

<div class="list">
  {{ range .Pages }}
    <a class="item" href="{{ .Permalink }}">
      {{ .Title }} <span class="post-date">{{ .Date.Format "01/02" }}</span>
    </a>
  {{ end }}
</div>
