<!DOCTYPE html>
<title>{{ .Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body { max-width: 500px; margin: 15vh auto; padding: 20px; font-family: sans-serif; line-height: 1.7; }
  .back { text-decoration: none; color: #ccc; font-size: 13px; display: block; margin-bottom: 40px; }
  h1 { font-weight: 400; margin-bottom: 5px; font-size: 20px; }
  time { color: #eee; font-size: 12px; display: block; margin-bottom: 40px; }
  .content { color: #333; font-size: 15px; }
</style>

<a href="/" class="back">← BACK</a>
<h1>{{ .Title }}</h1>
<time>{{ .Date.Format "2006-01-02" }}</time>

<div class="content">
  {{ .Content }}
</div>
